body {
  margin: 0;
  padding: 0;
  background-color: #BEBEBE;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Kanit', sans-serif;
}

body, html {
  height: 100%;
  line-height: 1.8;
}

.w3-bar .w3-button {
  padding: 12px;
  font-family: 'Kanit', sans-serif;
  font-size: 1.1em;
}

.btn-logout {
  padding: 5px;
  background-color: #969;
  text-decoration: none;
  margin-top: 8px;
  font-family: 'Kanit', sans-serif;
  background-color: red;
}

.btn-logout:hover {
  background-color: #d10404;
}

.main-content {
  width: 97.6%;
  height: 595px;
  background-color: #dcdcdc;
  margin: 60px 0 0 16px;
  display: inline-block;
}
.left-body{
  width: 30%;
  height: 500px;
  background-color: none;
  position: fixed;
}
.user-image{
  width: 90%;
  height: 80%;
  background-color: #dcdcdc;
  margin: 5%;
}
.btn-editprofile{
  background-color: #dcdcdc;
  padding: 20px 60px 20px 60px;
  font-size: 1.250em;
  text-decoration: none;
  margin-top: 20px;
  display: in
}
.img-user{
  width: 100%;
  height: 332px;
}
