body, html,h3 {
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
}
.navbar {
    overflow: hidden;
    background-color: #4682B4;
    font-family: 'Kanit', sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px 16px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px 16px 16px;
    background-color: inherit;
    font-family: 'Kanit', sans-serif;
}
.btn-menu:hover{
transition: .4s;
color: #ffd700;
}
.dropdown:hover .dropbtn {
    color: #ffd700;
    cursor: pointer;
    transition: .4s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #B0C4DE;
    border-left: 4px solid #ffd700;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.right-box{
  width: 10%;
  float: right;
  background-color: none;
  height: 54px;
}
.btn-logout{
  color: red;
  background-color: #ad1717;
  float: right;
}
.btn-logout:hover{
  background-color: rgb(130, 7, 7);
}
